<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">    
    </head>
       <body>  
            <form id='option' action="/option/" method="post">
                  
              <input type="text" name="user"  />用户名:<br />
              <input type="password" name="password"   />密码:<br />
              <input type="text" name="age"   />年龄:<br />
              <input type="text" name="email"   />邮箱:<br />
              <input type="text" name="IPhone"   />手机号:<br />      
              <input type="submit" value="确认更改">         
           </form>         
    </body>
</html>
