<!DOCTYPE html> 
 <html lang="en"> 
    <head> 
        <meta charset="UTF-8"> 
        <title>修改</title> 
    </head> 
       <body>   
            <form id='updateone' action="/updateone/" method="post"> 
                   
               <input type="text" name="user"  />用户名:<br /> 
               <input type="password" name="password"   />密码:<br /> 
               <input type="text" name="age"   />年龄:<br /> 
               <input type="text" name="address"   />地址:<br /> 

               <input type="submit" value="确认更改">          
            </form>          
     </body> 
 </html> 
