<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form role="form" id="main_input_box" method="POST" action="/updata/">
<label>
			用户名: <input type="text" name="username" value="{{userinfo['username']}}" readonly /><br/>
			密码:<input type="password" name="password" value="{{userinfo['password']}}"/> <br/>
			手机号: <input type="text" name="telephone" value="{{userinfo['telephone']}}"/><br/>
</label>
    <input type="submit" value="更新"/>

</form>

</body>
</html>