<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form role="form" id="main_input_box" method="POST" action="/updata/">
<label>
    {% for user in userinfo %}
			用户名: <input type="text" name="username" value="{{user['username']}}"/><br/>
			密码:<input type="password" name="password" value="{{user['password']}}"/> <br/>
			手机号: <input type="text" name="telephone" value="{{user['telephone']}}"/><br/>
</label>
    {% endfor %}
    <input type="submit" value="注册"/>

</form>

</body>
</html>