<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
<title>zuoye day7</title>

<style type="text/css">
.error{
      color:red;
}
.success{
	color:green;
}

.ValidNameInfo_success{
    color: darkviolet 
}
.ValidNameInfo_error{
    color: darkviolet 
}
.name_null_success{
    color: lawngreen 
}
.name_null_error{
    color: lawngreen 
}

.password_null_success{
    color: darkblue 
}
.password_null_error{
    color: darkblue 
}
.age_num_success{
    color: brown 
}
.age_num_error{
    color: brown 
}

.deluser_error{

    .color: chartreuse 
}

</style>

</head>

<body >
<form>
<input type="button" class="btn_login" value="用户登录" />
<input type="button" class="btn_register" value="用户注册" /> <br />

</form>


<form action="/login/" id="login" method="post">

       {% if loginerror %}
         <div class="error"> {{ loginerror }}</div>
       {% endif %}

	用户名: <input type="text" name="username" value="{{loginusername}}" /> <br />
	密码: <input type="password" value="{{ loginpassword }}" name="password" /><br />
        <input type="submit" value="登录" />
</form>

{% if deluser_error %}
         <div class="deluser_error"> {{ deluser_error }}</div>
       {% endif %}


 {% if registerinfo %}

        <div class="
        {% if registerok %}
        success
        {% else %}
        error
        {% endif %}"
        >{{ registerinfo }}</div>
    {% endif %}


{% if ValidNameInfo %}

    <div class="
    {% if ValidNameOk %}
    ValidNameInfo_success
    {% else %}
    ValidNameInfo_error
    {% endif %}"
    >{{ ValidNameInfo }}</div>
{% endif %}



{% if name_null %}

    <div class="
    {% if name_null %}
    name_null_success
    {% else %}
     name_null_error
    {% endif %}"
    >{{ name_null }}</div>
{% endif %}



{% if password_null %}

    <div class="
    {% if password_null %}
    password_null_success
    {% else %}
     password_null_error
    {% endif %}"
    >{{ password_null }}</div>
{% endif %}



{% if age_num %}

    <div class="
    {% if password_null %}
    age_num_success
    {% else %}
     age_num_error
    {% endif %}"
    >{{ age_num }}</div>
{% endif %}


{% if update_userinfo %}

    <div class="
    {% if password_null %}
    update_user_success
    {% else %}
     aupdate_user_error
    {% endif %}"
    >{{ update_userinfo }}</div>
{% endif %}


<form action="/register/" class="register" method="post">
 用户名: <input type="text" name="username" /> <br />
 密码: <input type="password" name="password" /><br />
 年龄： <input type="text" name="age" /><br />
 地址： <input type="text" name="address" /><br />
 <input type="submit" value="注册" />

 </form>

 <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
 <script type="text/javascript">
 	jQuery(document).ready(function(){
        {% if registerinfo %}
        jQuery('#login').hide();
        jQuery('.register').show();

         {% else %}
        jQuery('#login').show();
        jQuery('.register').hide();
    
         {% endif %}



 		jQuery('.btn_login').bind('click',function(){

 			jQuery('#login').show();
 			jQuery('.register').hide();
 		});
 		jQuery('.btn_register').bind('click',function() {
 			jQuery('.register').show();
 			jQuery('#login').hide();
 	
 		})
 	})


 </script>
	


	



</body>
</html>

