<!DOCTYPE html>
<html>
        <head>
                <meta charset="utf-8" />
                <title>index2</title>
                <style type="text/css">
                <style> 
.div{font-size:24px} 
 
.span{font-size:36px} 
</style> 
                </style>
	<script type="text/javascript" src="../static/jquery-1.9.1.js"></script>
                <script type="text/javascript" src="../static/jquery-1.9.1.min.js"></script>
        </head>



        <body>
       <div class = "span">
	<form name="userpwd" action="../userpwd" method="post">
        <input name="username" type="hidden" value="{{loginusername}}">
        <input  type = "submit" value ="修改密码"/>
        </form>
        <form name="logs" action = "../logs" method="post"><input  type = "submit" value ="访问日志"/> <br> </form>
        <form name="users" action="../users" method="post"><input  type = "submit"  value ="用户信息"/> <br> </form>
        <a  href = "../" ><input  type = "button" value ="退出"/></a>
        <div>
        </body>


</html>
