<!DOCTYPE <!DOCTYPE html>
<html>
	<head>
	<title>plz Sign In</title>
	</head>
	<body>
		{% if message %}
  		<p style="color:red">{{ message }}</p>
		{% endif %}
		<input class="btn_login" type="button" value="用户登陆"/>
        <input class="btn_zhuce" type="button" value="用户注册" /><br/>

		<form id="login" action="/login/" method="post">
			用户名:<input type="text" name="username" value="{{name}}" /><br/>
        	密码: <input type="password" name="password" value="{{password}}" /><br/>
        		 <input type="submit" value="登陆" />
        </form>
        <form class="zhuce" action="/zhuce/" method="post">
			用户名:<input type="text" name="username" value="{{name}}" /><br/>
        	密码: <input type="password" name="password" value="{{password}}" /><br/>
        	年龄: <input type="text" name="age" value="{{age}}" /><br/>
            地址: <input type="text" name="address" value="{{address}}" /><br/>
        		 <input type="submit" value="注册" />
        </form>
        <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
        <script type="text/javascript">
        jQuery(document).ready(function() {
            jQuery("#login").show();
            jQuery(".zhuce").hide();
            jQuery(".btn_login").bind('click', function() {
                jQuery("#login").show();
                jQuery(".zhuce").hide();
            });
            jQuery(".btn_zhuce").bind('click', function() {
                jQuery('.zhuce').show();
                jQuery("#login").hide();
            })
        });
        </script
	</body>
</html>