<!DOCTYPE html>
<html lang="en">
    <head>
    </head>
    <meta charset="UTF-8"/>
    <body>
        <form action="" method="post"> 

            用户名: <input type="text" name="username" value="{{name}}" /><br />
            密码: &nbsp;<input type="password" name="password" value="{{password}}" /><br />
             <input id="The login" type="submit" value="登录" />
             <input id="registered" type="button" value="注册" />
        </form>

<script type="text/javascript" src="../static/jquery-1.8.3.min.js"></script>
<script type="text/javascript">

$(document).ready(function(){
    $("#The login").bind('click', function(){
         $("#registered page").hide();
             $("#registered").hide();
    });
    $("#registered").bind('click', function(){
         $("#The login").hide();
             $("#registered").hide();
                 $("#registered page").show();
    });
});     

</script> 
</head>
<div id="registered page">
    <form action="" method="post">
    &nbsp;<dd>用户名：&nbsp;<input type="text" name="name" /></dd> <br />
    &nbsp;<dd>密码：&nbsp; <input type="password" name="pwd" /></dd> <br />
    &nbsp;<dd>邮箱：&nbsp; <input type="text" name="email" /></dd> <br />
    &nbsp;<dd>电话：&nbsp; <input type="text" name="IPhone" /></dd> <br />
    </form>
<script type="text/javascript" src="../static/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $("#The login").bind('click', function(){
        $("#registered page").hide();
            $("#registered").hide();
    });
    $("#registered").bind('click', function(){
        $("#The login").hide();
            $("#registered").hide();
                $("#registered page").show();
    });
});
</script>
</div>
</body>
</html>

